html,
body{margin:0;padding:0;}
body{font-family:"PingFang SC","微软雅黑";background:#f2f2f2;}
a img{border:none;}
input[type="button"]{cursor:pointer;}
a{text-decoration:none;cursor:pointer;}
a:focus{outline:none;}
button{border:none;cursor:pointer;}
img,
ul,
li{margin:0;padding:0;border:0;}
ul,
li{list-style:none;}
p{margin:0;}
table{border-collapse:collapse;}
table,
td,
th{border:1px solid #ccc;}
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;/*IE/7/6*/}
.w{margin:0 auto;width:1200px;}
.left{float:left;}
.right{float:right;}
.cent{text-align:center;}
.boxK{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.gold1{color:#b99777}
.gold2{color:#b3875d}
.gold3{color:#e8d7c5}
.gold4{color:#f8f0e6}
.gold5{color:#fefaf5}
.colorg{color:#fd8f2a}
.colblue{color:#4497e5}
.colblue2{color:#2f333d}
.colgray{color:#5f636c}
.colgray2{color:#b3b5c1}
.colgray3{color:#f6f6f6;}
.col0{color:#000;}
.col3{color:#333;}
.col6{color:#666;}
.col9{color:#999;}

/* 注册弹窗 */
.tan{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 11;}
.tanzc {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 11;}
.tan_con { width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: #000;opacity: 0.5; z-index: 10;}
.tan_con {width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: #000;z-index: 10;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.zcB{width:960px;height:690px;background: #fff;position: absolute;z-index:13;left:50%;top:12%;margin-left:-480px;position: relative;}
.zcB .tit{background:url(../../common/images/zc.jpg) no-repeat;background-size:100% 100%;width:100%;height:141px;}
.zcB .tit span{background:url(../../common/images/zg.png) no-repeat;background-size:100% 100%;width:16px;height:16px;display: block;position: absolute;right:25px;top:25px;}
.zcB h1{font-size: 24px;color:#b3875d;font-weight: normal;text-align: center;padding:43px 0 35px 0;}
.zcB h1 span{width:30px;height:2px;background:#b99777;display: block;margin:0 auto;margin-top:5px}
.zcB .wena{padding: 0 58px;height:310px;overflow-y:scroll; }
.zcB .wena p{font-size: 14px;color:#999;line-height:26px;padding-bottom:30px;}
.zcB .wena ul li h2{color:#b3875d;font-weight: normal;font-size: 14px;padding-bottom:20px;padding-top:20px}
.zcB .wena ul li p{padding-bottom:0;line-height: 26px}
.zcB .ft{border-top:1px solid #ececec;text-align: center;display: inline-block;width:100%;position:absolute;bottom:0;padding:37px 0;}
.zcB .ft a{background:url(../../common/images/zcb.png) no-repeat;color:#fff;font-size:18px;width:280px;line-height: 42px;display:inline-block;}